$button-violet: purple; // #8C4F6E;
$light: #f7f7f7;
$orange: #ff7b00;

$main-bg-color: rgba(247, 247, 247, 75%);
$accent-bg-color: #fff3ad;

$dark: #222121;

$violet: rgb(150, 22, 133);

$article__title__color: #8C4F6E;
$article__bg__color: $main-bg-color; // #fcf1ff;
$article__text__color: #434D43;
$article__info__color: #BFBCA5;

$color-dark: #2f2f2f;
$color-light: #fff;

$main-text-color: #68696c;