@import "general";

.input-form {

    @extend %border-shadow;

    &__signupFrm {

        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
    }

    &__writeFrm {
        @extend %border-shadow;

        .comment {
            margin: 5%;
            position: relative;
            width: 90%;
            height: 300px;
        }
/*
        .navBtn__button {
            @extend .navBtn__button;
            width: 45%;
        }
        */
    }

    &__form {
        @extend %border-shadow;

        background-color: $main-bg-color;
        align-items: center;
        //display: flex;

        width: 400px;
        border-radius: 8px;
        padding: 20px 40px;
        box-shadow: 0 10px 25px rgba(92, 99, 105, .2);

        p {
            justify-content: center;
            display: flex;
        }
    }

    &__title {
        font-size: 50px;
        margin-bottom: 50px;
        justify-content: center;
        display: flex;
    }

    &__inputContainer {
        position: relative;
        height: 45px;
        //width: 100%;
        //margin: auto;
        margin-bottom: 17px;

        input {
            width: 80%;
            margin: auto;
            display: flex;
            position: relative;
        }

    }

    &__submitBtn {
        box-sizing: content-box;
        @extend .button;
        position: relative;
        height: 50px;
        width: 80%;
        display: flex;
        margin: auto;
        font-size: 16px;
        //margin-top: 30px;      
    }

}


select {

    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;

    flex: 1;
    //padding: 0 1em;
    font-size: 2rem;
    color: orange;
    background-color: $main-bg-color;
    background-image: none;
    cursor: pointer;

    option {
        color: orange;

        &:hover::after {
            color: purple;
        }

    }

    &::-ms-expand {
        display: none;
    }

}

.select-role {

    color: $article__info__color;

    margin: auto;
    // margin-top: $marg-top;
    margin-bottom: 17px;
    position: relative;
    display: flex;
    width: 80%;
    height: $height;
    border-radius: 8px; // $rad;

    overflow: hidden;



    &::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        padding: 1em;
        background-color: $button-violet;
        transition: $dur all ease;
        pointer-events: none;
    }

    &:hover::after {
        color: $orange;
    }
}