@import 'colors';
@import"general";



.navbar {
  margin-top: $marg-top;
  margin-bottom: $marg-top;
  background: $main-bg-color;
  height: $navbar-height;
  display: flex;
  justify-content: space-between;
  margin: 2%;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  z-index: 10;
  position: relative;
  border-radius: $rad;
  font-size: 1.5rem;

  @extend %border-shadow;

  &__logo {

    width: 30%;
    //margin-right: 30%;
    margin-left: $marg-p;
    //display: flex;
    &__img {
      position: relative;
      height: 70px;
      border-radius: $rad;
      margin-right: $marg-p;
    }

    color: $main-text-color; //$dark;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    //margin-left: 24px;
    @extend %align-center;
    align-items:center;
    justify-content:flex-start;

    @include mobile{
      font-size: 1.5rem;
    }
  }

  &__bars{
    opacity: 0;

    @include tablet {
      color: $dark;
      opacity: 1;
      position: absolute;
      top: 22px;
      right: 20px;
      font-size: 2rem;
      }
     // opacity: 0;
  }

  &__menu {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    margin-right: 24px;


    @include tablet {
      display: none;
    }

    &--links {
      color: $main-text-color; //$dark;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      padding: 0 1rem;

      &:hover {
        color: $orange;
        transition: all 0.3s ease;
      }
    }

    #button {
      @extend .button;
      padding: 12px 24px;
      margin-left: 16px;

    }

  }
}
